Service References/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestorTutoria" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestorTutoria_getNumeroTutores_InputMessage">
    <wsdl:part name="parameters" element="tns:getNumeroTutores" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_getNumeroTutores_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumeroTutoresResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_getTutor_InputMessage">
    <wsdl:part name="parameters" element="tns:getTutor" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_getTutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTutorResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_getAlumnos_InputMessage">
    <wsdl:part name="parameters" element="tns:getAlumnos" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_getAlumnos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAlumnosResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_crearAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:crearAlumno" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_crearAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_agregarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarAlumno" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_agregarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_agregarReunion_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarReunion" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_agregarReunion_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarReunionResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_buscarReuniones_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarReuniones" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_buscarReuniones_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarReunionesResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_buscarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarAlumno" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_buscarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_buscarTutor_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarTutor" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_buscarTutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarTutorResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_buscarProfesor_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarProfesor" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_buscarProfesor_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarProfesorResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_agregarProfesorTutor_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarProfesorTutor" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_agregarProfesorTutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarProfesorTutorResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_desconectarBD_DesdeGestor_InputMessage">
    <wsdl:part name="parameters" element="tns:desconectarBD_DesdeGestor" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_desconectarBD_DesdeGestor_OutputMessage">
    <wsdl:part name="parameters" element="tns:desconectarBD_DesdeGestorResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_crearProfesor_InputMessage">
    <wsdl:part name="parameters" element="tns:crearProfesor" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_crearProfesor_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearProfesorResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_llenarListaTutores_InputMessage">
    <wsdl:part name="parameters" element="tns:llenarListaTutores" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_llenarListaTutores_OutputMessage">
    <wsdl:part name="parameters" element="tns:llenarListaTutoresResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestorTutoria">
    <wsdl:operation name="getNumeroTutores">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/getNumeroTutores" message="tns:IGestorTutoria_getNumeroTutores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/getNumeroTutoresResponse" message="tns:IGestorTutoria_getNumeroTutores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/getTutor" message="tns:IGestorTutoria_getTutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/getTutorResponse" message="tns:IGestorTutoria_getTutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAlumnos">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/getAlumnos" message="tns:IGestorTutoria_getAlumnos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/getAlumnosResponse" message="tns:IGestorTutoria_getAlumnos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/crearAlumno" message="tns:IGestorTutoria_crearAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/crearAlumnoResponse" message="tns:IGestorTutoria_crearAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/agregarAlumno" message="tns:IGestorTutoria_agregarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/agregarAlumnoResponse" message="tns:IGestorTutoria_agregarAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarReunion">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/agregarReunion" message="tns:IGestorTutoria_agregarReunion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/agregarReunionResponse" message="tns:IGestorTutoria_agregarReunion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarReuniones">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/buscarReuniones" message="tns:IGestorTutoria_buscarReuniones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/buscarReunionesResponse" message="tns:IGestorTutoria_buscarReuniones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/buscarAlumno" message="tns:IGestorTutoria_buscarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/buscarAlumnoResponse" message="tns:IGestorTutoria_buscarAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarTutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/buscarTutor" message="tns:IGestorTutoria_buscarTutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/buscarTutorResponse" message="tns:IGestorTutoria_buscarTutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarProfesor">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/buscarProfesor" message="tns:IGestorTutoria_buscarProfesor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/buscarProfesorResponse" message="tns:IGestorTutoria_buscarProfesor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarProfesorTutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/agregarProfesorTutor" message="tns:IGestorTutoria_agregarProfesorTutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/agregarProfesorTutorResponse" message="tns:IGestorTutoria_agregarProfesorTutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="desconectarBD_DesdeGestor">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/desconectarBD_DesdeGestor" message="tns:IGestorTutoria_desconectarBD_DesdeGestor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/desconectarBD_DesdeGestorResponse" message="tns:IGestorTutoria_desconectarBD_DesdeGestor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crearProfesor">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/crearProfesor" message="tns:IGestorTutoria_crearProfesor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/crearProfesorResponse" message="tns:IGestorTutoria_crearProfesor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="llenarListaTutores">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/llenarListaTutores" message="tns:IGestorTutoria_llenarListaTutores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/llenarListaTutoresResponse" message="tns:IGestorTutoria_llenarListaTutores_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGestorTutoria" type="tns:IGestorTutoria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getNumeroTutores">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/getNumeroTutores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTutor">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/getTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlumnos">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/getAlumnos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearAlumno">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/crearAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarAlumno">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/agregarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarReunion">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/agregarReunion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarReuniones">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/buscarReuniones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarAlumno">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/buscarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTutor">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/buscarTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarProfesor">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/buscarProfesor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarProfesorTutor">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/agregarProfesorTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="desconectarBD_DesdeGestor">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/desconectarBD_DesdeGestor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearProfesor">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/crearProfesor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="llenarListaTutores">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/llenarListaTutores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestorTutoria">
    <wsdl:port name="BasicHttpBinding_IGestorTutoria" binding="tns:BasicHttpBinding_IGestorTutoria">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary2/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>