Service References/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestorTutoria" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestorTutoria_agregarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarAlumno" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_agregarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_agregarReunion_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarReunion" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_agregarReunion_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarReunionResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_buscarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarAlumno" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_buscarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_buscarTutor_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarTutor" />
  </wsdl:message>
  <wsdl:message name="IGestorTutoria_buscarTutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarTutorResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestorTutoria">
    <wsdl:operation name="agregarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/agregarAlumno" message="tns:IGestorTutoria_agregarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/agregarAlumnoResponse" message="tns:IGestorTutoria_agregarAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarReunion">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/agregarReunion" message="tns:IGestorTutoria_agregarReunion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/agregarReunionResponse" message="tns:IGestorTutoria_agregarReunion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/buscarAlumno" message="tns:IGestorTutoria_buscarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/buscarAlumnoResponse" message="tns:IGestorTutoria_buscarAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarTutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestorTutoria/buscarTutor" message="tns:IGestorTutoria_buscarTutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestorTutoria/buscarTutorResponse" message="tns:IGestorTutoria_buscarTutor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGestorTutoria" type="tns:IGestorTutoria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarAlumno">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/agregarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarReunion">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/agregarReunion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarAlumno">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/buscarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTutor">
      <soap:operation soapAction="http://tempuri.org/IGestorTutoria/buscarTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestorTutoria">
    <wsdl:port name="BasicHttpBinding_IGestorTutoria" binding="tns:BasicHttpBinding_IGestorTutoria">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary2/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>